html {
    box-sizing: border-box;
    color: var(--white-clr);
    font-family: "Be Vietnam Pro", sans-serif;
}
* {
    margin: 0;
    padding: 0;
}
*,
*::after,
*::before {
    box-sizing: inherit;
}
:root {
    --btn-clr: #4036A9;
    --gray-clr: #97A3B6;
    --text-panel-clr: #CDD5E0;
    --white-clr: #F2F5F9;
    --bg-clr: #12111F;
    --section-width: 810px;
}
body {
    background: var(--bg-clr);
}
.main-container {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 90px;
    max-width: var(--section-width);
}
header {
    padding-top: 72px;
    text-align: center;
    position: relative;
    padding-bottom: 48px;
}
.header-title {
    width: 100%;
    font-size: 48px;
    max-width: 455px;
    font-weight: 700;
    line-height: 1.4em;
    text-align: center;
    margin: 0 auto 96px auto;
    color: rgba(255, 255, 255, 0.3);
}
header:after {
    content: "";
    top: 0;
    left: 50%;
    z-index: -1;
    width: 800px;
    height: 288px;
    position: absolute;
    transform: translateX(-50%);
    background: url("img/faq-title-bg.webp") no-repeat center / cover;
}
.header-subtitle {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.25em;
    margin-bottom: 16px;
}
.header-text {
    color: var(--gray-clr);
}
.categories {
    gap: 24px;
    display: flex;
    margin-bottom: 80px;
    align-items: center;
    justify-content: center;
}
.category-btn {
    border: 0;
    color: #FFF;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    line-height: 1em;
    padding: 12px 20px;
    position: relative;
    border-radius: 1.75rem;
    background: transparent;
    transition: all .3s ease-in;
    font-family: "Be Vietnam Pro", sans-serif;
}
.active-category,
.category-btn:focus,
.category-btn:hover {
    background: rgba(255, 255, 255, 0.2);

}
.active-category:after,
.category-btn:focus:after,
.category-btn:hover:after {
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    width: 80%;
    height: 2px;
    margin: 0 auto;
    position: absolute;
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(0.25turn, rgba(0, 0, 0, 0), rgba(255, 255, 255, 1), rgba(0, 0, 0, 0));
    border-image-slice: 1;
}
.faq-question {
    margin-bottom: 8px;
}
.faq-question,
.faq-question button {
    cursor: pointer;
}
.faq-question button {
    border: 0;
    width: 100%;
    font-size: 20px;
    text-align: left;
    font-weight: 600;
    line-height: 1.7em;
    color: var(--gray-clr);
    background: transparent;
    font-family: "Be Vietnam Pro", sans-serif;
}
.faq-block {
    padding-left: 32px;
    padding-right: 32px;
    margin-bottom: 20px;
    border-radius: 20px;
    transition: all .3s ease-in-out;
}
.faq-answer p {
    width: 100%;
    font-size: 16px;
    max-width: 650px;
    font-weight: 400;
    line-height: 1.5em;
    color: var(--text-panel-clr);
}
.d-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
button[aria-expanded] img {
    transition: all .3s ease-in-out;
}
button[aria-expanded="true"] img {
    transform: rotate(0);
}
button[aria-expanded="false"] img {
    transform: rotate(180deg);
}
.faq-block:not(.active):hover {
    background: rgba(255, 255, 255, 0.1);
}
.faq-block.active {
    padding-top: 28px;
    padding-bottom: 28px;
    background: rgba(255, 255, 255, 0.1);
}
.faq-block.active button {
    color: var(--white-clr);
}
.faq-block.active .faq-answer {
    display: block;
}
.faq-block:not(.active) .faq-answer {
    display: none;
}
@media screen and (max-width: 991px) {
    .main-container {
        padding: 0 24px;
    }
    header:after {
        width: 100%;
        max-width: 100%;
    }
}
@media screen and (max-width: 767px) {
    header:after {
        height: 230px;
    }
    .header-title {
        font-size: 36px;
    }
    .categories {
        flex-wrap: wrap;
    }
}